.divMainHome {
	display: grid;
	place-items: center;
	height: 10vh;
	margin: 0;
}

.h1Home {
	color: var(--color-1);
}
.buttonReloadHome {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 12px;
	gap: 8px;
	height: 36px;
	width: 120px;
	border: none;
	background: #ffffffaa;
	border-radius: 20px;
	cursor: pointer;
}

.lableHome {
	line-height: 20px;
	font-size: 17px;
	color: #5d41de;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.buttonReloadHome:hover {
	background: #ffffff;
}

.buttonReloadHome:hover .svgiconHome {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
